body{
 background:black;
 display:flex;
 justify-content:center;
 align-items:center;
 height:100vh;
}

.face{
 width:250px;
 height:250px;
 background:#111;
 border-radius:50%;
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
}

.eyes{
 display:flex;
 gap:40px;
}

.eye{
 width:40px;
 height:25px;
 background:white;
 border-radius:50%;
 transition:.3s;
}

.mouth{
 margin-top:30px;
 width:80px;
 height:30px;
 border:4px solid white;
 border-top:none;
 transition:.3s;
}
