body{
 background:black;
 margin:0;
 height:100vh;
 display:flex;
 justify-content:center;
 align-items:center;
}

.face{
 width:260px;
 height:260px;
 background:#111;
 border-radius:50%;
 display:flex;
 flex-direction:column;
 justify-content:center;
 align-items:center;
 box-shadow:0 0 40px #000;
}

.eyes{
 display:flex;
 gap:40px;
}

.eye{
 width:45px;
 height:25px;
 background:white;
 border-radius:50%;
 transition:.3s;
}

.mouth{
 margin-top:35px;
 width:90px;
 height:35px;
 border:4px solid white;
 border-top:none;
 transition:.3s;
}
